
@{
    ViewBag.Title = "Development - Index";
}

<!-- fluid container from layout page -->

<div class="row">
    <!-- right column across top -->
    <div class="visible-xs">
        <h4 class="Column-right-header">
            Top
        </h4>
    </div>
</div>

<div class="row">
    <section class="col-sm-9 col-md-8 col-sm-push-3 col-md-push-2">
        <article class="MainContent">
            <img class="img-responsive" src="~/Content/images/Development-A.png" alt="Computer Image"/>
        </article>
        <article class="MainContent">
            <img src="~/Content/images/Development-B.png" alt="Computer Image"/>
        </article>
        <article class="MainContent">
            <img src="~/Content/images/Development-C.png" alt="Computer Image"/>
        </article>
    </section>

    <aside class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-8 hidden-xs">
        <h4 class="Column-left-header">
            Left
        </h4>
        <div class="Column-left-Contents">

        </div>
    </aside>

    <aside class="Column-right-aside col-sm-12 col-md-2 hidden-xs">
        <h4 class="Column-right-header">
            Right
        </h4>
        <div class="Column-right-Contents">

        </div>
    </aside>
</div>

<div class="container-fluid">
    <div class="row">
        <img class="img-responsive" src="~/Content/images/Development-A.png" />
    </div>
</div>

<!-- -->