
<div class="row">
    <div class="col-sm-12">
        Locomotive Type Details<br />

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
       
        &nbsp;

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <!-- Default post back btn -->
        <input type="submit" value="Submit" class="btn" name="btn" />
        <!-- Cancel uses formaction for different actionresult in controller and no validation -->
        <input type="submit" value="Cancel" class="btn" name="btn" formaction="@(Url.Action("LocoType","TrainsPlanescars"))" formnovalidate="formnovalidate" />
    </div>
</div>
