
@model TryItOut.ViewModels.LocomotiveEditViewModel

@{
    ViewBag.Title = "LocoEditNew";
    Layout = "~/tryitout/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.Partial("_locoInputEdit")
    </div>
</div>
