
@{
    ViewBag.Title = "RailwayDecoderNew";
    Layout = "~/tryitout/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.Partial("_RailwayDecoderEditNew")
    </div>
</div>